<div class="jackpot-cards-container">
  <div class="fireworks" *ngIf="jackpotCardWinner">
    <div class="before"></div>
    <div class="after"></div>
  </div>
  <div class="grid-container">
    <div class="grid-item"  [ngClass]="jackpotCard.flipped ? 'flipped' : ''" *ngFor="let jackpotCard of jackpotCards; index as i" (click)="flipJackpotCard(jackpotCard, i)">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/icons/casino-logo.png">
        </div>
        <div class="flip-card-back" [ngClass]="{'winner': jackpotCard.name === jackpotCardWinner}">
          <img [src]="jackpotCard.iconPath">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup" *ngIf="jackpotCardWinner">
  <div class="text">
    Congratulations! You won the <span>{{jackpotCardWinner}}</span> Jackpot!
  </div>
</div>
<img class="reset-button" *ngIf="jackpotCardWinner" (click)="reset()" src="/assets/icons/reset-icon.png">